*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.hex
*.tra
*.dep
*.iex
*.map
*.swp
.DS_Store
**/build
**/.settings
*/MDK-ARM/DebugConfig/
*/obj/
MDK-ARM/Obj/
MDK-ARM/RTE/
MDK-ARM/*.uvguix.*
MDK-ARM/EventRecorderStub.scvd
MDK-ARM/*/*.htm
MDK-ARM/*/*.build_log.htm